<li>
	<%= link_to wod.name, wod %> 
	<%= link_to "Daily WOD", new_wod_daily_wod_path(wod) %>
	<% if current_user.admin? %>
		<%= link_to "Delete", wod, :method => :delete, :confirm => "You sure?",
									:title => "Delete #{wod.name}" %>
	<% end %>
</li>