<li>
	<%= link_to wod.name, wod %> 
	<%= link_to "Create Daily WOD", new_wod_daywod_path(wod) %>
	<% if current_user.nil? == false %>
	<% if current_user.admin? %>
		<%= link_to "Delete", wod, :method => :delete, :confirm => "You sure?",
									:title => "Delete #{wod.name}" %>
	<% end %>
	<% end %>
</li>