<h1>WOD Index</h1>

<%= link_to "Create new WOD", new_wod_path, :class => "newwod_button round" %>

<p>

  <table id="wod_index">
    <th>WOD Name</th>
    <th>Avg. Rx</th>
    <th>Avg. Sx</th>
    <th>Options</th>
    <%= render @wods %>
  </table>