<h1>WOD Index</h1>

<%= link_to "Create new WOD", createwod_path, :class => "newwod_button round" %>

<p>

	<table border="1">
		<th>WOD Name</th>
		<th>Avg. Rx</th>
		<th>Avg. Sx</th>
		<th>Options</th>
		<%= render @wods %>
	</table>