<table class="profile" summary="Profile information"> 
	<tr>
			<h1>
				<%= @wod.name %> 
			</h1>
		<td>
			<strong>Description</strong> <br />
			<%= @wod.desc %><br />
			<strong>Sequence</strong> <%= @wod.seq %><br />
			<strong>For </strong> <%= @wod.wod_type %><br />
		</td>
  </tr>
</table>