<tr>
  <td><%= result.daywod.performed %></td>
  <td><%= result.wod.name %></td>
  <td><%= result.formatted %></td>
  <td>
    <% if result.rx  == true %>
    Yes
    <% else %>
    No
    <% end %>
  </td>
  <td><pre><%= result.note %></pre></td>
</tr>
