<li>
  <table>
    <tr>
      <th>Athlete</th>
      <% if @wod.wod_type == "Time" %>
        <th>Time</th>
      <% else %>
        <th>Result</th>
      <% end %>
      
      <th>Rx</th>
      <th>Notes</th>
    </tr>

    <% @results.each do |r| %>
      <tr>
        <td><%= r.user.name %></td>
        <td><%= r.formatted %></td>
        <td>
          <%= "\u2714" if r.rx  == true %>
        </td>
        <td><%= r.note %></td>
      </tr>
    <% end %>
  </table>
</li>