<h1>About Us</h1> 
  <p>
    CrossFit is the principal strength and conditioning program for many police academies and tactical operations teams, military special operations units, champion martial artists, and hundreds of other elite and professional athletes worldwide.
  </p>
  <p>
    Our program delivers a fitness that is, by design, broad, general, and inclusive. Our specialty is not specializing. Combat, survival, many sports, and life reward this kind of fitness and, on average, punish the specialist.
  </p>
  <p>      
    The CrossFit program is designed for universal scalability making it the perfect application for any committed individual regardless of experience. We've used our same routines for elderly individuals with heart disease and cage fighters one month out from televised bouts. We scale load and intensity; we don't change programs.
  </p>
  <p>
    The needs of Olympic athletes and our grandparents differ by degree not kind. Our terrorist hunters, skiers, mountain bike riders and housewives have found their best fitness from the same regimen.
  </p>
  <p>
    -Courtesy of CrossFit Inc.
  </p> 
