<h1>Contact</h1> 
  <div class='contact'>
    Director of Personal Training<br>
    Tim Burgess<br>
    tburgess@cheetahgym.com<br>
    (773) 394-5900<br>
  </div> 

  <div class = 'contact'>
    Web Developer<br>
    Nick Lee<br>
    nicholas.lee.3@gmail.com
  </div>
