<h1>Cheetah Crossfit</h1> 
	<p>
		Welcome to the Cheetah Crossfit Home Page
	</p>
	<% if signed_in? %>
		<%= link_to "Create new WOD", createwod_path, :class => "newwod_button round" %>
	<% else %>
		<%= link_to "Sign up now!", signup_path, :class => "signup_botton round" %>
	<% end %>
