<center><h1>WOD Schedule</h1></center>

Weekdays
<ul>
	<li>5:15am</li>
	<li>6:30am</li>
	<li>7:30am</li>
	<li>5:30pm</li>
	<li>6:30pm</li>
</ul>

Weekends
<p>Saturday Team WOD: 8:15am warmup, 8:30am start</p>
