body {
  background-color: #FFFFF1;
  margin: 0;
}

h1 {
  margin-left: 1em;
}

img {
  display: block;
  margin: auto;
}

.round {
  border-radius: 5px;
}

/* Header and Footer Begin */
header {
  width: 100%;
  background-color: #FFCB3E;
  margin-bottom: 10px;
  height: 2.5em;
}

header img {
  max-width: 35px;
  margin: 3px 0 0 3px;
  display: inline;
  float: left;
}

.nav_links {
  display: inline;
  padding-left: 1em;
  list-style-type: none;
  height: 100%;
  width: 100%;
  margin: 0;
  float: left;
}

.nav_links li {
  vertical-align: middle;
  height: 100%;
  line-height: 250%;
  display: inline-block;
}

.nav_links li:nth-child(1) {
  padding-right: 1.5em;
}

.nav_links li a {
  color: #231F20;
  line-height: 100%;
  text-decoration: none;
  font-family: 'Coda Caption', sans-serif;
}

.nav_search {
  display: inline-block;
  height: 100%;
}

.nav_search form {
  vertical-align: middle;
  height: 100%;
  display: inline;
}

footer {
  width: 100%;
  background-color: #FFCB3E;
  margin-bottom: 10px;
  height: 40px;
  text-align: center;
  
}

footer .nav_links ul {
  padding-left: 45%;
  margin: auto;
}

/* Header and Footer End */

.middle {
  padding: auto;
}

.newwod_button {
  padding: 10px;
  border: 1px solid #808361;
  background-color: #808361;
  text-decoration: none;
  color: #222;
}

.journal_entry {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 4px solid #808390;
  background-color: #FFFFF1;
  text-decoration: none;
  list-style-type: none;
  width: 30%
}

.journal_entry li {
  padding-left: 2em;
}

#wod_index {
  text-align: center;
}

#wod_index td {
  border: 1px solid black;
}

.recd {
  text-align: center;
}

.root_button_frame form {
  width: 50%;
  margin: auto;
}

.root_button {
  display: block;
  border-radius: .5em;
  background-color: #FFCB3E;
  border: 2px solid #FFCB3E;
  text-align: center;
  width: 30%;
  margin: auto;
  margin-bottom: .5em;
  color: black;
  text-decoration: none;
  font-family: 'Black Ops One', cursive;
}

/* FLASH Begin */
.flash {
  margin-left: 1em;
  padding-left: .5em;
  border: 2px solid black;
  border-radius:  5px;
  width: 30%;
}

.success {
  background-color: #99FF99;
  color: green;
}

.error {
  background-color: #FFC7C7;
  color: red;
}

/* FLASH End */

.profile {
  width: 100%;
}

.sidebar {
  border: 1px solid #808390;
  float: right;
}

.wod_desc {
  text-align: left;
  padding-left: 5px
}

/* Daywod Show  Page Begin */

#wod_name {
  font-family: 'Black Ops One', cursive;
}

#wod_name a {
  text-decoration: none;
  color: black;
}

.wod_details tr {
  text-align: left;
}

.wod_details tr td:nth-child(2) {
  padding-left: 5px;
}
/* Daywod Show  Page End */
