body {
  background-color: #FFFFF1;
}

img {
  display: block;
  margin: auto;
}


.round {
  border-radius: 5px;
}

.head_foot {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.head_foot ul {
  margin: auto;
  padding: 3px;
  border: 1px solid #FFCB3E;
  background-color: #FFCB3E;
  display: inline-block;
  list-style-type: none;
  float: right;
}

.head_foot ul li {
  display: inline;
}

.head_foot li a {
  color: #231F20;
  text-decoration: none;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
}

.middle {
  padding: auto;
}

.newwod_button {
  padding: 10px;
  border: 1px solid #808361;
  background-color: #808361;
  text-decoration: none;
  color: #222;
}

.journal {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 4px solid #808390;
  background-color: #FFFFF1;
  text-decoration: none;
  list-style-type: none;
  width: 30%
}

.journal li {
  padding-left: 2em;
}

#wod_index {
  text-align: center;
}

#wod_index td {
  border: 1px solid black;
}

.recd {
  text-align: center;
}

.sign_in_up {
  border: 2px solid gray;
  text-align: center;
  width: 10%;
  margin: auto;
  padding: 10px;
}

.sign_in_up a {
  text-decoration: none;
  color: #444;
}

.flash {
  border: 1px solid black;
}

.success {
  color: green;
}

.error {
  color: red;
}

.profile {
  width: 100%;
}

.sidebar {
  border: 1px solid #808390;
  float: right;
}

.select_wod {
  width: 50px;
}

.recd_workout_tabs {
  margin: 0;
  width: 300px;
  float: right;
  margin-right: 30%;
}

#daywod_tab {
  border-left: 2px solid #FFCB3E;
  border-right: 2px solid #FFCB3E;
}

.tab {
  display: block;
  /*position: absolute;*/
  padding: 10px;
  width: 544px;
  border-right: 2px solid #FFCB3E;
  border-left: 2px solid #FFCB3E;
  border-bottom: 2px solid #FFCB3E;
}

ul.tab_header {
  margin: 0;
  padding-left: 0;
  width: 550px;
  border: 2px solid #FFCB3E;
  padding: 2px;
}

ul.tab_header li {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  display: inline-block;
  list-style: none;
}

ul.tab_header li:hover {
  background-color: red;
}

.hidden {
  display: none;
}

.your_workout {
  float: left;
  width: 30%;
  height: 100px;
  border: 2px solid #FFCB3E;
}