body {
  background-color: #FFFFF1;
}

img {
  display: block;
  margin: auto;
}

.round {
  border-radius: 5px;
}

.head_foot {
  display: inline-block;
  text-align: right;
  width: 100%;
  clear: both;
}

.head_foot ul {
  margin: auto;
  padding: 3px;
  border: 1px solid #FFCB3E;
  background-color: #FFCB3E;
  display: inline-block;
  list-style-type: none;
  float: right;
}

.head_foot ul li {
  display: inline;
}

.head_foot li a {
  color: #231F20;
  text-decoration: none;
}

footer {
  text-align: center;
  bottom: 0;
}

.middle {
  padding: auto;
}

.newwod_button {
  padding: 10px;
  border: 1px solid #808361;
  background-color: #808361;
  text-decoration: none;
  color: #222;
}

.journal {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 4px solid #808390;
  background-color: #FFFFF1;
  text-decoration: none;
  list-style-type: none;
  width: 30%
}

.journal li {
  padding-left: 2em;
}

#wod_index {
  text-align: center;
}

#wod_index td {
  border: 1px solid black;
}

.recd {
  text-align: center;
}

.sign_in_up {
  border: 2px solid gray;
  text-align: center;
  width: 10%;
  margin: auto;
  padding: 10px;
}

.sign_in_up a {
  text-decoration: none;
  color: #444;
}

.flash {
  border: 1px solid black;
}

.success {
  color: green;
}

.error {
  color: red;
}

.profile {
  width: 100%;
}

.sidebar {
  border: 1px solid #808390;
  float: right;
}
