.select_wod {
  width: 50px;
}

.your_workout {
  width: 48%;
  height: 100px;
  border: 2px solid #FFCB3E;
  float: left;
}

.recd_workout_tabs {
  width: 48%;
  margin: auto;
  border-left: 2px solid #FFCB3E;
  margin-bottom: 2%;
}

.tab {
  display: block;
  border-right: 2px solid #FFCB3E;
  border-bottom: 2px solid #FFCB3E;
  position: relative;
  top:  0;
  padding: 10px;
}

ul.tab_header {
  margin: 0;
  padding-left: 0;
  border-bottom: 2px solid #FFCB3E;
}

ul.tab_header li {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  display: inline-block;
  list-style: none;
  border-right: 2px solid #FFCB3E;
  border-top-right-radius: 5px;
  border-top: 2px solid #FFCB3E;
}

ul.tab_header li:hover {
  background-color: #FFCC00;
}

/* Tab Selection Begin */
.selected_tab {
  margin-bottom: -2px;
  border-bottom: 4px solid #FFFFF1;
}

.hidden {
  display: none;
}

/* Tab Selection End */